.search-wrapper {
  width: 10rem;
}

.search-input {
  width: 100%;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: transparent;
  color: white;
}
