.admin-movie-list-container {
  width: 100%;
  max-width: 1000px;
  margin: 4rem auto;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  color: white;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
  margin-top: 5rem;
}

h4 {
  margin-bottom: 2rem;
}

input[type='text'],
select {
  width: 100%;
  max-width: 400px;
  padding: 0.75rem 2.5rem 0.75rem 1rem;
  margin: 1rem auto;
  display: block;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: transparent;
  color: white;
}

#genre-select-admin-movies {
  color:white;
}

#genre-select-admin-movies option {
  color:black;
}

.movie-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 0;
  margin-top: 2rem;
}

.movie-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  color: white;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.movie-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0.5rem 0 1rem;
}

.movie-buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.movie-buttons button {
  padding: 0.5rem 1rem;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.movie-buttons button:first-child {
  background-color: #ffd500;
  color: black;
}

.movie-buttons button:first-child:hover {
  background-color: #ffcc00;
  transform: translateY(-2px);
}

.movie-buttons button:last-child {
  background-color: #ff4d4d;
  color: white;
}

.movie-buttons button:last-child:hover {
  background-color: #e63939;
  transform: translateY(-2px);
}
