.booking-confirmation-container {
  text-align: center;
}

.booking-confirmation-details-wrapper {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 20px;
}

.booking-confirmation-poster {
  width: 250px;
  height: auto;
  border-radius: 8px;
}

.booking-confirmation-info {
  flex: 1;
}

.booking-number {
  color: #fbbf24;
}

.booking-btn {
  background-color: #fbbf24;
  border: none;

  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 1rem;
}
