.booking-confirmation-container {
  padding: 20px;
}

.booking-details-wrapper {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-top: 20px;
}

.booking-poster {
  width: 250px;
  height: auto;
  border-radius: 8px;
}

.booking-info {
  flex: 1;
  margin-top: 4.5rem;
}

.booking-number {
    color: #FBBF24;
}

.booking-btn {
    background-color: #FBBF24;
    border: none;

    padding: 0.5rem;
    border-radius: 5px;
    margin-top: 1rem;
}