@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Där uppe måste fixas. Det påverka alla sidor! */
  --selected-color: #fbbf24;
  --occupied-color: #e74c3c;
  --available-color: #4b5563;
  --main-color: #222831;
  --text-color: #ffffff;
  --font-fam: Bebas Neue, sans-serif;
  --fab-close-animation-time: 0.4s;
  --fab-close-line-length: 20px;
  --fab-close-line-thickness: 2px;
  --fab-close-spins: 1;
  --slide-in-duration: 0.4s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    min-width: 320px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: var(--font-fam);
}

