.landing-page-container {
  height: auto;
  min-height: 100vh;
  width: 100%;
  padding: 100px 0;
}

.filters-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.right-wing {
  display: flex;
  gap: 2rem;
}

.filter-inputs {
  width: 10rem;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: transparent;
  color: white;
}

@media (max-width: 768px) {
  .filters-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .right-wing {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  .filter-inputs {
    width: 10rem;
    padding: 0.8rem;
    font-size: 14px;
  }
}


