.user-profile-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.profile-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  color: white;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.profile-card p {
  margin: 0.5rem 0;
}

.profile-actions {
  margin-top: 1.5rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
}


.logout-btn,
.profile-home-btn {
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  text-decoration: none;
  display: inline-flex;
  background-color: var(--selected-color);
  color: black;
  min-width: 150px;
  width: 150px;
  justify-content: center;
}

.logout-btn:last-child,
.-profile-home-btn:last-child {
  margin-right: 0;
}

.delete-btn {
  color: white;
  background-color: var(--occupied-color);
}

.delete-btn:hover {
  background-color: #e63939;
}

.logout-btn:hover,
.profile-home-btn:hover,
.delete-btn:hover {
  transform: translateY(-2px);
}
