.watchlist-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0 1rem 0;
  color: #fff;
}

.empty-watchlist {
  text-align: center;
}

.empty-watchlist p {
  font-size: 30px;
  color: #fff;
}

.back-to-home {
  display: inline-block;
  margin-top: 10px;
  color: #f5c518;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.back-to-home:hover {
  text-decoration: underline;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
